NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1
CORS_ORIGIN=http://localhost:5173
LOG_LEVEL=debug

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=test
POSTGRES_USER=asropau
POSTGRES_PASSWORD=asropau_pass